@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cairo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  body {
    background-color: #F3F5FA;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

.cta-button {
  @apply flex items-center justify-center gap-3 px-4 py-3 md:px-6 md:py-3 text-sm md:text-base lg:text-lg font-semibold focus:ring-opacity-50 rounded-full;
  border: 2px solid #b60910;
  transform: translateZ(0);
  will-change: transform, box-shadow;
  transition: all 0.3s ease-in-out; 
  user-select: none;
  position: relative;
  overflow: hidden;
}
.cta-button:focus {
  outline: 2px solid #b60910;
  outline-offset: 2px;
}

.cta-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none !important;
}


.cta-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  /* تقليل الشفافية قليلاً لجعله أكثر سلاسة */
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.15), transparent); 
  transition: left 0.4s ease-in-out; /* تسريع الانتقال قليلاً */
}

.cta-button:hover::after {
  left: 100%;
}


@media (hover: none) {
  .cta-button-primary,
  .cta-button-secondary {
    transform: none;
    box-shadow: none;
  }
}

.cta-button-primary {
  background-color: #b60910;
  color: #fff; 
} 
.cta-button-primary:hover {
  background-color: #a3080e;
  transform: translateY(-2px); 
  box-shadow: 0 6px 16px rgba(182, 9, 16, 0.6); 
}
.cta-button-primary:active {
  transform: scale(0.95); /* تأثير ضغط */
  box-shadow: 0 2px 8px rgba(182, 9, 16, 0.4); 
}


.cta-button-secondary {
  background-color: #123DA5;
  color: #fff;
}
.cta-button-secondary:hover {
  background-color: rgba(182, 9, 16, 0.1);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(182, 9, 16, 0.2);
}
.cta-button-secondary:active {
  transform: scale(0.95);
  box-shadow: 0 2px 8px rgba(182, 9, 16, 0.1);
}

.btn-icon {
  @apply w-5 h-5 md:w-6 md:h-6 transition-transform duration-300;
}

.cta-button-primary:hover .btn-icon {
  @apply transform -translate-x-1;
}

.cta-button-secondary:hover .btn-icon {
  @apply transform scale-110;
}
}